In [1]:
import pandas as pd
import numpy as np
import pickle

In [6]:
ad = pd.read_csv("./train_preliminary/ad.csv")
user = pd.read_csv("./train_preliminary/user.csv")
click = pd.read_csv("./train_preliminary/click_log.csv")

In [4]:
"""f = open("./input_artifact/train_creative_id_seq.pkl","rb+")
train_cre_id_v = pickle.load(f)
f.close()
f = open("./input_artifact/train_ad_id_seq.pkl","rb+")
train_ad_id_v = pickle.load(f)
f.close()"""

In [3]:
train_index = np.load("./input_artifact/train_idx_shuffle.npy")

In [4]:
train_index

array([459465, 585123, 285956, ..., 769366, 256720, 484982])

In [ ]:
"""train_day = []
for i in train_index:
    tmp_idx = list(click.loc[click.user_id == i].time)
    tmp_idx.sort()
    train_day.append(tmp_idx)
np.save("train_day.npy",train_day)"""

In [5]:
click
#time: 天粒度的时间，整数值， 取值范围[1, 91]
#user_id: 从 1 到 N 随机编号生成的不重复的加密的用户 id， 其中 N 为用户总数目（训练集和测试集）
#creative_id: 用户点击的广告素材的 id，采用类似于 user_id 的方式生成
#click_times: 当天该用户点击该广告素材的次数

          time  user_id  creative_id  click_times
0            9    30920       567330            1
1           65    30920      3072255            1
2           56    30920      2361327            1
3            6   309204       325532            1
4           59   309204      2746730            1
...        ...      ...          ...          ...
30082766     6    30920       228129            1
30082767    57    30920      2361397            1
30082768    26    30920       629802            1
30082769    86    30920      2713031            1
30082770    25    30920       629802            1

[30082771 rows x 4 columns]

In [7]:
user

        user_id  age  gender
0             1    4       1
1             2   10       1
2             3    7       2
3             4    5       1
4             5    4       1
...         ...  ...     ...
899995   899996    5       1
899996   899997    3       2
899997   899998    4       2
899998   899999    3       1
899999   900000    3       2

[900000 rows x 3 columns]

In [5]:
cre_id = list(click.creative_id)

In [12]:
cre_id.sort()

In [5]:
num_of_user= click.user_id.max()
print("训练集用户总人数:",num_of_user)

训练集用户总人数: 900000

In [6]:
import pandas as pd
from gensim.models.word2vec import Word2Vec

In [26]:
list(click.loc[click.user_id == 459465].time

In [6]:
len(a)

22

In [3]:
click.loc[click.user_id == 459465]

         time  user_id  creative_id  click_times
2781976    51   459465      2073245            1
2781977    51   459465        79724            1
2781978    87   459465      4145990            1
2781979    22   459465       120916            1
2781980    66   459465      2221084            1
2781981    71   459465      2741342            1
2781982    64   459465      2221084            1
2781983    69   459465      2741342            1
2781984    62   459465      2221084            1
2781985    64   459465      3072230            1
2781986    78   459465      3493015            1
2781987    83   459465      3976756            1
2781988    69   459465      3072238            1
2781989    69   459465      3072233            1
2781990    63   459465      1120599            1
2781991    67   459465      2220962            1
2781992    71   459465      3322009            1
2781993    10   459465       617239            1
2781994    69   459465      2161252            1
2781995    65   459465      3064252            1
2781996    84   459465      3915694            1
2781997    90   459465      4378871            1

In [9]:
user_id = {}
for userid in click.user_id:
    if userid not in user_id:
        user_id[userid] = 1

In [16]:
user_id_key = user_id.keys()

In [20]:
user_id_key = list(user_id_key)

In [22]:
user_id_key.sort()

In [25]:
len(user_id_key)

900000

In [29]:
user_id_key[0]

1

In [ ]:
train_text = []
for userid in range(1,900001):
    tmp_click_time = [0] * 91
    tmp_text = ["0"] * 91
    tmp_data = click.loc[click.user_id == userid]
    for i in range(len(tmp_data)):
        tmp_text[tmp_data.time - 1] = str(tmp_data.creative_id)
        tmp_click_time[tmp_data.time - 1] = tmp_data.click_times
    click_times = []

['0', '0', '0', '0']